/***************************************************************************************
 Page Headers
 ***************************************************************************************/

.section-header {
    padding: 0;
    margin: 0;
}

.section-header h1 {
    font-size: 2em;
    border-bottom: 1px solid #000;
    padding: 5px;
    margin: 0 0 10px 0;
}


/***************************************************************************************
 Page Sections
 ***************************************************************************************/

.section-row {
    align-items: center;
    padding-bottom: 48px;
}

.section-row img {
    height: auto;
    width: 270px;
}

.section-row h1 {
    font-size: 2em;
    border-bottom: 1px solid #000;
}

.section-list {
    padding: 10px;
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    .section-list {
        padding: 0;
        margin-top: 10px;
    }

    .section-row {
        padding-bottom: 5px;
    }
}

/***************************************************************************************
 Page Functionality
 ***************************************************************************************/

.icon-list {
    padding: 0;
    list-style: none;
}

.icon-list li {
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 18px;
    line-height: 1.8;
}

.close-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

/***************************************************************************************
 Page Links
 ***************************************************************************************/

.is-link {
    color: #00aeef;
    border-bottom: 1px solid #00aeef;
}

.is-link:hover {
    color: #2e6da4;
}

// .ul-li ul {
//     margin: 0;
//     padding: 0;
// }

// .ul-li ul li {
//     list-style: none;
//     display: inline-block;
// }
