/*!
 * Start Bootstrap - Shop Homepage (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

// body {
//   padding-top: 70px;
// }

// .slide-image {
//   width: 100%;
// }

// .carousel-holder {
//   margin-bottom: 30px;
// }

// .carousel-control,
// .item {
//   border-radius: 4px;
// }

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

// footer {
//   margin: 50px 0;
// }


/**************************************************************
***************************************************************
              Spacing
**************************************************************
***************************************************************/

.top-buffer-20 {
    margin-top: 20px;
}

.top-buffer-15 {
    margin-top: 15px;
}

.top-buffer-10 {
    margin-top: 10px;
}

.top-buffer-5 {
    margin-top: 5px;
}
