.shopping-cart-drop {
    border: 1px solid #000;
    position: absolute;
    width: 300px;
    background-color: beige;
    border-radius: 10px;
    list-style: none;
    padding: 5px;
    // right: 110px;
    left: -100px !important;
}

.cart-search {

    // margin-top: 12px;
    // margin-left: 10px;
    ul {
        margin: 0;
        padding: 0;
        margin-right: 20px;
    }

    li {
        list-style: none;
        display: inline-block;
        height: 35px;
        width: 35px;
        text-align: center;
        line-height: 30px;
        border-radius: 100%;
        color: $white;
        margin-left: 10px;
        border: 2px solid rgb(189, 132, 51);
        position: relative;

        a {
            display: block;
            width: 100%;
        }

        button {
            background-color: transparent;
            border: none;
            color: #fff;
        }
    }
}

.dropdown-button {
    margin: 5px;
}

.dropdown-title {
    font-size: 1.3em;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.dropdown-item {
    padding: 10px;
    display: flex;
}

.dropdown-item-info p {
    margin: 0;
    padding: 0;
}

.dropdown-item-image {
    loat: left;
    height: 50px;
    width: auto;
    padding: 0 10px 0 4px;
}

.dropdown-quantity {
    position: absolute;
    right: 45px;
}

.remove-item-icon {
    position: absolute;
    right: 10px;
}

.navbar-button {
    color: whitesmoke;
    background-color: #222;
    border: 1px solid whitesmoke;
}
