.search-form {
    top: 60px;
    position: fixed;
    left: 35%;
    text-align: center;
    display: flex;
}

.search-form input {
    width: 350px;
    height: 50px;
    font-size: 1.5em;
    border: 0;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
    cursor: auto;
    text-align: center;
    border-radius: 10px 0 0 10px;
}

.search-form input:focus {
    background-color: #DDDDDD;
}

.search-results {
    background-color: $black;
    padding: 10px;
    width: 400px;
    top: 52px;
    position: absolute;
    right: 25px;
    border-radius: 5px;
}

.search-results ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.search-results ul li {
    padding: 4px 0 0 4px;
    margin: 0;
    border-bottom: 1px solid $base-color-0;
}

.search-results ul li a {
    display: flex;
    cursor: pointer;
    text-decoration: none;
}

.search-results ul li:hover {
    background-color: #8c8c8c;
}

.search-results ul li p {
    color: $white;
    font-size: 14px;
    padding: 18px;
    margin: 0;
}

.search-results ul li img {
    height: 50px;
    width: auto;
}

.search-button {
    border: 0;
    width: 50px;
    border-radius: 0 5px 5px 0;
    background-color: rgba(0, 0, 0, .5);
    color: #FFFFFF;
}

@media screen and (max-width: 763px) {
    .search-form {
        left: 10%;
        width: 80%;
    }

    .search-form input {
        width: 100%;
        background-color: whitesmoke;
    }

    .search-button {
        background-color: whitesmoke;
        color: #000000;
        cursor: pointer;
    }

    .search-results {
        width: 80%;
        left: 10%;
    }
}
