<template>
  <ValidationObserver ref="form" v-slot="{ invalid, validated, handleSubmit }">
    <form @submit.prevent="handleSubmit(onSubmit)">
      <input type="hidden" name="_token" :value="csrf_token" />
      <div class="row top-buffer-20">
        <!-- <div :class="{ 'form-group': true, 'has-error': errors.has('email') }"> -->
        <ValidationProvider
          name="E-mail"
          vid="email"
          rules="required|email"
          v-slot="{ errors, invalid, changed }"
        >
          <div
            :class="{
              'form-group': true,
              'has-error': changed ? invalid : false,
            }"
          >
            <label for="email" class="col-md-4 control-label">
              E-Mail Address
            </label>
            <div class="col-md-6">
              <input
                id="email"
                type="email"
                class="form-control"
                v-model="email"
                autofocus
              />
              <span class="help-block" id="email-error" v-show="errors[0]">
                <strong>{{ errors[0] }}</strong>
              </span>
            </div>
          </div>
        </ValidationProvider>
      </div>
      <!-- /.row -->
      <div class="row top-buffer-20">
        <!-- <div :class="{ 'form-group': true,'has-error': errors.has('password') }"> -->
        <ValidationProvider
          name="Password"
          vid="password"
          rules="required"
          v-slot="{ errors, invalid, changed }"
        >
          <div
            :class="{
              'form-group': true,
              'has-error': changed ? invalid : false,
            }"
          >
            <label for="password" class="col-md-4 control-label"
              >Password</label
            >
            <div class="col-md-6">
              <input
                id="password"
                type="password"
                class="form-control"
                name="password"
                v-model="password"
              />
              <span class="help-block" id="password-error" v-show="errors[0]"
                >>
                <strong>{{ errors[0] }}</strong>
              </span>
            </div>
          </div>
        </ValidationProvider>
      </div>
      <!-- /.row -->
      <ValidationProvider name="Remember" vid="remember">
        <div class="form-group top-buffer-10">
          <div class="col-md-6 col-md-offset-4">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="remember" /> Remember Me
              </label>
            </div>
          </div>
        </div>
      </ValidationProvider>

      <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
          <button type="submit" class="btn btn-primary">Login</button>

          <a class="btn btn-link" :href="forgot_password">
            Forgot Your Password?
          </a>
        </div>
      </div>
    </form>
  </ValidationObserver>
</template>

<script>
export default {
  components: {},
  props: ["csrf_token", "post_address", "forgot_password"],
  data() {
    return {
      email: null,
      password: null,
    };
  },

  methods: {
    onSubmit() {
      const userdata = {
        email: this.email,
        password: this.password,
      };
      this.$refs.form.validate().then((success) => {
        if (success) {
          axios
            .post("/login", userdata)
            .then((response) => {
              if (response.errors) {
                if (response.errors.email) {
                  $("#email-error").html(response.errors.email[0]);
                }
                if (response.errors.password) {
                  $("#password-error").html(response.errors.password[0]);
                }

                // var captcha = "g-recaptcha-response";
                // if (response.errors[captcha]) {
                //     $('#login-captcha-error').html(response.errors[captcha][0]);
                // }
              }
              if (response.data.success) {
                this.$nextTick(() => {
                  this.$refs.form.reset();
                });
                if (response.data.redirect == "back") {
                  window.history.back();
                }
              }
            })
            .catch((error) => {
              console.log(error);
            });
          //   return;
        }

        // Resetting Values
        this.email = this.password = "";

        // Wait until the models are updated in the UI
        this.$nextTick(() => {
          this.$refs.form.reset();
        });
      });
    },
  },
};
</script>
