<template>
  <ValidationObserver ref="form" v-slot="{ invalid, validated, handleSubmit }">
    <form
      :action="post_address"
      method="post"
      @submit.prevent="handleSubmit(onSubmit)"
    >
      <input
        type="hidden"
        name="_token"
        :value="csrf_token"
        @submit.prevent="create"
      />
      <div class="row">
        <div class="col-sm-6">
          <ValidationProvider
            vid="firstname"
            name="First Name"
            rules="required|alpha_spaces"
            v-slot="{ errors, changed, invalid }"
          >
            <div
              :class="{
                'form-group': true,
                'has-error': changed ? invalid : false,
              }"
            >
              <label for="first_name" class="control-label">First Name</label>
              <input
                id="first_name"
                type="text"
                name="first_name"
                class="form-control"
                v-model="register.first_name"
                autofocus
              />

              <span
                class="text-danger"
                id="first-name-error"
                v-show="errors[0]"
              >
                {{ errors[0] }}
              </span>
            </div>
          </ValidationProvider>
          <!-- /.form-group -->
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ValidationProvider
            vid="lastname"
            name="Last Name"
            rules="required|alpha_spaces"
            v-slot="{ errors, changed, invalid }"
          >
            <div
              :class="{
                'form-group': true,
                'has-error': changed ? invalid : false,
              }"
            >
              <label for="last_name" class="control-label">Last Name</label>

              <input
                id="last_name"
                type="text"
                name="last_name"
                class="form-control"
                v-model="register.last_name"
              />
              <span class="text-danger" id="last-name-error" v-show="errors[0]">
                {{ errors[0] }}
              </span>
            </div>
          </ValidationProvider>
          <!-- /.form-group -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <!-- /.col -->
        <div class="col-sm-6">
          <ValidationProvider
            vid="email"
            name="E-mail"
            rules="required|email|unique-email"
            v-slot="{ errors, changed, invalid }"
          >
            <div
              :class="{
                'form-group': true,
                'has-error': changed ? invalid : false,
              }"
            >
              <label for="email" class="control-label">E-Mail Address</label>
              <input
                id="email"
                type="email"
                name="email"
                class="form-control"
                v-model="register.email"
              />
              <span class="text-danger" id="email-error" v-show="errors[0]"
                >{{ errors[0] }}
              </span>
            </div>
          </ValidationProvider>
          <!-- /.form-group -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-sm-6">
          <ValidationProvider
            vid="password"
            name="Password"
            rules="required|min:6|confirmed:confirm"
            v-slot="{ errors, changed, invalid }"
          >
            <div
              :class="{
                'form-group': true,
                'has-error': changed ? invalid : false,
              }"
            >
              <label for="password" class="control-label">Password</label>
              <input
                id="password"
                type="password"
                name="password"
                class="form-control"
                v-model="register.password"
              />
              <span class="text-danger" id="password-error" v-show="errors[0]">
                {{ errors[0] }}
              </span>
            </div>
          </ValidationProvider>
          <!-- /.form-group -->
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ValidationProvider
            name="confirm"
            vid="confirm"
            rules="required"
            v-slot="{ errors, changed, invalid }"
          >
            <div
              :class="{
                'form-group': true,
                'has-error': changed ? invalid : false,
              }"
            >
              <label for="password_confirmation" class="control-label"
                >Confirm Password</label
              >
              <input
                id="password-confirm"
                type="password"
                name="password_confirmation"
                class="form-control"
                v-model="register.password_confirmation"
              />
              <span
                class="text-danger"
                id="confirm-password-error"
                v-show="errors[0]"
              >
                {{ errors[0] }}
              </span>
            </div>
          </ValidationProvider>
          <!-- /.form-group -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="form-group">
        <div class="col-md-6 col-md-offset-4">
          <button
            type="submit"
            class="btn btn-primary"
            :disabled="invalid || !validated"
          >
            Register
          </button>
        </div>
      </div>
      <!-- form-group -->
    </form>
  </ValidationObserver>
</template>


<script>
export default {
  components: {},
  props: ["csrf_token", "post_address"],
  data() {
    return {
      register: {
        first_name: null,
        last_name: null,
        email: null,
        password: null,
        password_confirmation: null,
      },
    };
  },

  methods: {
    onSubmit() {
      const userdata = {
        first_name: this.register.first_name,
        last_name: this.register.last_name,
        email: this.register.email,
        password: this.register.password,
        password_confirmation: this.register.password_confirmation,
      };
      this.$refs.form.setErrors({
        email: [
          "The email field is required",
          "The email field must be a valid email",
          "This email is already taken",
        ],
      });
      this.$refs.form.validate().then((success) => {
        if (success) {
          axios
            .post("/register", userdata)
            .then((response) => {
              //   window.location.href = "/login";
            })
            .catch((error) => {
              console.log(error);
            });
          //   event.target.submit();
          //   return;
        }

        // Resetting Values
        this.register.first_name = this.register.last_name = this.register.email = this.register.password = this.register.password_confirmation =
          "";

        // Wait until the models are updated in the UI
        this.$nextTick(() => {
          this.$refs.form.reset();
        });
      });
    },
  },
};
</script>
