.gradient-bg, .modal-body .nws-button button, 
.teacher-pic-content .teacher-img-content:after,
.formation-details-category li:hover,
.add-cart:after,
.category-icon-title:after,
.gradient-bdr {
	background: #24C6DC;
	background: -moz-linear-gradient(left, #514A9D 0%, #24C6DC 51%, #514A9D 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #4eb3bf), color-stop(51%, #24C6DC), color-stop(100%, #4eb3bf));
	background: -webkit-linear-gradient(left, #514A9D 0%, #24C6DC 51%, #0071b0 100%);
	background: -o-linear-gradient(left, #514A9D 0%, #24C6DC 51%, #514A9D 100%);
	background: -ms-linear-gradient(left, #514A9D 0%, #24C6DC 51%, #514A9D 100%);
	background: -webkit-gradient(linear, left top, right top, from(#BB377D), color-stop(51%, #24C6DC), to(#BB377D));
	background: -webkit-linear-gradient(left, #514A9D 0%, #24C6DC 51%, #514A9D 100%);
	background: linear-gradient(to right, #514A9D 0%, #24C6DC 51%, #514A9D 100%);
	background-size: 200% auto;
}
.text-gradiant {
	background: -moz-linear-gradient(left, #514A9D 0%, #24C6DC 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, #BB377D), color-stop(100%, #24C6DC));
	background: -webkit-linear-gradient(left, #514A9D 0%, #24C6DC 100%);
	background: -o-linear-gradient(left, #514A9D 0%, #24C6DC 100%);
	background: -ms-linear-gradient(left, #514A9D 0%, #24C6DC 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; }
	.section-title .subtitle:before, 
	.section-title .subtitle:after {
		color: #BB377D;
		text-shadow: 15px 0 #BB377D;
	}
	.breadcrumb-section .breadcrumb-item {
		background-color: #BB377D;
	}
	.nav-menu li a:after {
		background: #24C6DC;
		background: -moz-linear-gradient(left, #514A9D 0%, #24C6DC 51%, #514A9D 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, #4eb3bf), color-stop(51%, #24C6DC), color-stop(100%, #4eb3bf));
		background: -webkit-linear-gradient(left, #514A9D 0%, #24C6DC 51%, #0071b0 100%);
		background: -o-linear-gradient(left, #514A9D 0%, #24C6DC 51%, #514A9D 100%);
		background: -ms-linear-gradient(left, #514A9D 0%, #24C6DC 51%, #514A9D 100%);
		background: -webkit-gradient(linear, left top, right top, from(#BB377D), color-stop(51%, #24C6DC), to(#BB377D));
		background: -webkit-linear-gradient(left, #514A9D 0%, #24C6DC 51%, #514A9D 100%);
		background: linear-gradient(to right, #514A9D 0%, #24C6DC 51%, #514A9D 100%);
		background-size: 200% auto;
	}
	.cart-search li {
		border: 2px solid #24C6DC;
	}

	.sub-menu:before {
		border-top: 10px solid #24C6DC;
	}
	.search-body .search-form .search-close {
		background-color: #24C6DC;
	}
	.sub-menu li a:hover {
		color: #24C6DC !important;
	}
	.header-style-2 .sub-menu li a:hover {
		color: #24C6DC; 
	}
	#slider-item .genius-btn {
		border: 2px solid #24C6DC;
	}
	#slider-item .slider-formation-category li:hover {
		color: #24C6DC; 
	}
	.coming-countdown li {
		border: 2px solid #24C6DC;
	}
	.home-secound-formation-search .about-list li {
		color: #24C6DC;
	}
	.search-formation-secound .counter-number p {
		color: #24C6DC;
	}
	.search-formation-third .counter-icon-number:after {
		background-color: #24C6DC;
	}
	.select-lang select,
	.nav-menu-4 .login-cart-lang .login a,
	.formation-meta .formation-category, .latest-events .formation-meta .formation-author,
	.about-teacher-2 .section-title-2 h2 b,
	.testimonial-slide .student-name-designation span,
	.view-all-btn i,
	.teacher-img-content .teacher-category .st-name,
	.secound-teacher-section .teacher-img-text .teacher-designation,
	.teacher-pic-content .teacher-social-name li,
	.teacher-pic-content .teacher-name-designation .teacher-designation,
	.teacher-details-text .teacher-deg span,
	.best-product-section .price-start span,
	.best-sellers-pic-text .b-price,
	.panel-group .panel-title .btn-link,
	.panel-group .panel-title .btn-link:before,
	.panel-group .panel-title .btn-link:after,
	.panel-group .panel-title .btn-link:hover,
	.version-four .features-icon .feat-tag span,
	.blog-details-content .date-meta span,
	.blog-details-content .author-comment .author-designation-comment span,
	.blog-details-content .next-prev-post i,
	.blog-comment-area .author-name-rate span,
	.affiliate-market-accordion .panel-group .panel-title .btn-link span,
	.formation-by b,
	.avrg-rating .avrg-rate,
	.formation-side-bar-widget h3 span,
	.formation-side-bar-widget h3 span,
	.student-number,
	.checkbox label .sub-text b,
	.terms-text b,
	.purchase-list .in-total span,
	.footer-menu li i {
		color: #BB377D;
	}

	.about-us-text .section-title:after,
	.about-list li:before,
	.testimonial-slide .student-name-designation span:before,
	.teacher-img-content .teacher-img:after,
	.teacher-desc-social li:hover,
	.ui-slider-horizontal .ui-slider-handle,
	ul.product-tab li:after,
	.panel-group .panel-body:before,
	.blog-button ul.product-tab li.active,
	.side-bar-widget .tag-clouds li:hover,
	.blog-details-content .blog-category li:hover,
	.formation-page-section .formation-type-list span,
	.avrg-rating .rating-overview:hover .start-bar,
	.section-title-2 h2:after {
		background-color: #BB377D;
	}

.cart-search li,
#slider-item .genius-bt,
.coming-countdown li,
.secound-teacher-section .teacher-img-text .teacher-social-list li,
.footer-social li,
.subscribe-form li {
	border: 2px solid #BB377D;
}