<template>
  <form role="search" method="post" class="search_form" :action="searchURL">
    <input type="hidden" name="_token" :value="token" />
    <div class="searchBox">
      <input
        class="searchInput search-field"
        type="text"
        name="search"
        placeholder="Rechercher…"
        v-model="search"
        v-on:keyup="toggleResults"
        autocomplete="off"
        v-on:keyup.esc="close"
      />
      <a href="#" class="header-search-trigger searchButton"
        ><span><i class="fas fa-search"></i></span
      ></a>
    </div>
    <div class="search-results" v-show="showResults">
      <ul>
        <li
          class="p-0 mt-2"
          v-for="(product, index) in searchResults"
          :key="index"
        >
          <a
            class="p-0 text-lowercase"
            :href="showProductsURL + '/' + product.slug"
          >
            <img v-if="product.image_id" :src="product.image_id" />
            <p class="p-0 pl-2">
              <strong>{{ product.title }}</strong>
              <span>{{ product.category_id }}</span>
            </p>
            <!-- <p>{{ product.category_id }}</p> -->
          </a>
        </li>
      </ul>
    </div>
  </form>

  <!-- /.modal-mask -->
</template>


<script>
export default {
  props: ["token", "cart"],

  data: function () {
    return {
      showResults: false,
      searchURL: "",
      search: "",
      showProductsURL: "",
      searchResults: {},
    };
  },

  mounted() {
    this.searchURL = Laravel.urls.search_url;
    this.showProductsURL = Laravel.urls.show_product_url;
  },

  methods: {
    /**
     * only show results if the user has enter 2 characters or more
     *
     * @return void
     */
    toggleResults() {
      if (this.search.length >= 2) {
        this.showResults = true;
        this.searchProducts();
      } else {
        this.showResults = false;
      }
    },

    /**
     * closes search results
     * @return void
     */
    close() {
      Event.$emit("show-search-screen");
    },

    /**
     * performs an ajax request to User\API\SearchController@store
     * returns an array of related products and sets the products property
     * @return void
     */
    searchProducts() {
      let self = this;
      axios
        .post(Laravel.urls.search_url_api, {
          search: this.search,
        })
        .then((response) => (self.searchResults = response.data.products))
        .catch((error) => console.log(error));
    },
  },
};
</script>


