<template>
  <ValidationObserver ref="form" v-slot="{ handleSubmit, invalid, validated }">
    <form @submit.prevent="handleSubmit(beforeSubmit)">
      <div class="row">
        <div class="col-sm-6">
          <ValidationProvider
            name="Tax-name"
            vid="tax-name"
            rules="required|alpha_spaces"
            v-slot="{ errors, invalid, changed }"
          >
            <div
              :class="{
                'form-group': true,
                'has-error': changed ? invalid : false,
              }"
            >
              <label for="tax-name" class="control-label">Name: </label>
              <input
                class="form-control"
                type="text"
                name="tax-name"
                id="tax-name"
                v-model="tax.name"
              />
              <span class="help-block" v-show="errors[0]">
                <strong>{{ errors[0] }}</strong>
              </span>
            </div>
            <!-- /.form-group -->
          </ValidationProvider>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ValidationProvider
            name="Tax-percent"
            vid="tax-percent"
            :rules="{ required: true, regex: /^[0.09]+.([1-90]+)/ }"
            v-slot="{ errors, invalid, changed }"
          >
            <div
              :class="{
                'form-group': true,
                'has-error': changed ? invalid : false,
              }"
            >
              <label>Percent </label>
              <input
                class="form-control"
                type="text"
                name="tax-percent"
                id="tax-percent"
                v-model="tax.percent"
              />
              <span class="help-block" v-show="errors[0]">
                <strong>{{ errors[0] }}</strong>
              </span>
            </div>
            <!-- /.form-group -->
          </ValidationProvider>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-sm-12">
          <ValidationProvider
            name="Tax-description"
            vid="tax-description"
            :rules="{ required: true, regex: /^[a-zA-Z0-9\,\;\.\s.\'\?]+$/ }"
            v-slot="{ errors, invalid, changed }"
          >
            <div
              :class="{
                'form-group': true,
                'has-error': changed ? invalid : false,
              }"
            >
              <label for="tax-description" class="control-label"
                >Description:
              </label>
              <textarea
                class="form-control"
                type="text"
                id="tax-description"
                name="tax-description"
                v-model="tax.description"
              >
              </textarea>
              <span class="help-block" v-show="errors[0]">
                <strong>{{ errors[0] }}</strong>
              </span>
            </div>
            <!-- /.form-group -->
          </ValidationProvider>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="pull-left">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <!-- /.pull-left -->
        <div class="pull-right">
          <button type="button" class="btn btn-danger" @click="close">
            Cancel
          </button>
        </div>
        <!-- /.pull-right -->
      </div>
      <!-- /.row -->
    </form>
  </ValidationObserver>
</template>

<script>
export default {
  props: ["isEdit", "oldTax", "close", "refreshTable"],
  data: function () {
    return {
      tax: {
        name: "",
        description: "",
        percent: 0.0,
      },
    };
  },

  mounted() {
    if (this.isEdit) {
      this.setEditForm();
    }
  },

  methods: {
    /**
     * sets form values if it is an edit form
     *
     * @return void
     */
    setEditForm() {
      this.tax = {
        name: this.oldTax.name,
        description: this.oldTax.description,
        percent: this.oldTax.percent,
      };
    },

    /**
     *  checks if the form passed validation before submitting results
     *  @return void
     */
    beforeSubmit() {
      // let self = this;
      this.$refs.form.validate().then((success) => {
        if (success) {
          if (this.isEdit) {
            this.edit();
          } else {
            this.ajaxRequest(window.Laravel.urls.tax_api_url);
          }
        }
      });
    },

    /**
     *  adds the patch to the method request
     *  @return void
     */
    edit() {
      this.tax._method = "patch";
      this.ajaxRequest(window.Laravel.urls.tax_api_url + "/" + this.oldTax.id);
    },

    /**
     *  performs an ajax request and updates the user message
     *  @return void
     */
    ajaxRequest(url) {
      // let self = this;
      axios
        .post(url, this.tax)
        .then((response) => this.updateMessage(response.data))
        .catch(() => this.updateError());
    },

    /**
     *  updates the user message and closes the form
     *  @return void
     */
    updateMessage(data) {
      Event.$emit("update-user-message", data.message);
      this.refreshTable();
      this.close();
    },

    /**
     * updates a user error
     */
    updateError() {
      Event.$emit(
        "update-user-error",
        "An error has occurred please try again!"
      );
      this.close();
    },
  },
};
</script>
