.about-us-section {
    background-color: #f7f7f7;
    padding: 125px 0px;
    overflow: visible;
}

.about-resigter-form {
    z-index: 2;
    padding: 30px;
    max-width: 360px;
    margin-top: 120px;
}

.register-content {
    position: relative;
}

.register-fomr-title {
    h3 {
        font-size: 35px;
        color: $white;

        span {
            font-weight: 300;
        }
    }

    p {
        font-size: 14px;
        color: $white;
    }
}

.register-form-area {
    input {
        height: 42px;
        width: 100%;
        background-color: $white;
        padding: 0 15px;
        border-radius: 4px;
        margin-bottom: 5px;
        border: none;
    }

    select {
        @extend input;
    }

    textarea {
        @extend input;
        height: 100px;
        padding-top: 15px;
    }

    button {
        height: 60px;
        width: 100%;
        font-weight: 700;
        color: $white;
        border: none;
        text-transform: uppercase;
        background-color: #ff5b10;
    }
}

.bg-mockup {
    position: absolute;
    top: 10px;
    left: -6px;
    z-index: 1;
}

.about-us-text {
    padding-top: 35px;

    .section-title {
        margin-bottom: 60px;

        p {
            font-size: 22px;
            font-weight: 500;
            color: $black;
            margin-top: 20px;
        }

        &:after {
            position: absolute;
            content: '';
            bottom: -30px;
            height: 2px;
            width: 50px;
            background-color: $base-color-2;
        }
    }
}

.about-content-text {
    p {
        font-size: 18px;
        color: $black;
    }
}

.about-list {
    li {
        font-weight: 500;
        color: $black;
        margin-bottom: 8px;
        padding-left: 25px;
        position: relative;

        &:before {
            left: 0;
            content: '';
            width: 15px;
            height: 15px;
            top: 2px;
            border-radius: 100%;
            position: absolute;
            background-color: $base-color-2;
        }
    }
}

.about-btn {
    .genius-btn {
        display: inline-block;
        margin-right: 25px;
    }
}

// Home Page 2
.home-secound {
    .about-resigter-form {
        background-image: url("/assets/img/about/abt.jpg");
        max-width: 420px;
        margin-top: 5px;
        padding: 50px;
        margin-left: 30px;
        border-radius: 5px;
        position: relative;
        z-index: 2;
        box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.1);

        &:after {
            content: '';
            position: absolute;
            height: 80%;
            top: 50%;
            width: 30px;
            transform: translateY(-50%);
            border-radius: 5px;
            left: -30px;
            z-index: -1;
            background: #17d0cf;
            background: -moz-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, #4eb3bf), color-stop(51%, #17d0cf), color-stop(100%, #4eb3bf));
            background: -webkit-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #0071b0 100%);
            background: -o-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
            background: -ms-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
            background: -webkit-gradient(linear, left top, right top, from(#01a6fd), color-stop(51%, #17d0cf), to(#01a6fd));
            background: -webkit-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
            background: linear-gradient(to right, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
            background-size: 200% auto;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .register-form-area {
        button {
            background: #17d0cf;
            background: -moz-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, #4eb3bf), color-stop(51%, #17d0cf), color-stop(100%, #4eb3bf));
            background: -webkit-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #0071b0 100%);
            background: -o-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
            background: -ms-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
            background: -webkit-gradient(linear, left top, right top, from(#01a6fd), color-stop(51%, #17d0cf), to(#01a6fd));
            background: -webkit-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
            background: linear-gradient(to right, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
            background-size: 200% auto;
        }
    }

    .bg-mockup {
        display: none;
    }

    .register-form-area input,
    .register-form-area select,
    .register-form-area textarea {
        background-color: #ffffffc7;
    }
}

.home-third {
    background-color: #fff;
}

.about-page-section {
    padding: 80px 0px;
}

.about-gallery {
    display: inline-block;
    margin-bottom: 20px;
}

.about-gallery-img {
    float: left;
    margin-bottom: 15px;
}

.grid-1 {
    width: 66.5%;
    float: left;
}

.grid-2 {
    width: 31.5%;
    float: left;
    margin-left: 12px;
}

.about-text-item {
    .section-title-2 {
        margin-bottom: 65px;

        h2:after {
            bottom: -30px;
        }
    }

    p {
        font-weight: 300;
        font-size: 20px;
        color: $black;
        margin-bottom: 25px;
    }
}

.about-teacher-2 {
    .section-title-2 {
        h2 {
            font-size: 28px;

            &:after {
                display: none;
            }

            b {
                color: $base-color-2;
                font-size: 14px;
                font-weight: 700;
            }
        }
    }
}

.about-formation-categori,
.about-tutorial-categori {
    padding-top: 50px;

    .category-slide {
        margin-top: 40px;
    }
}
