.couse-pagination li.active {
    color: #333333 !important;
    font-weight: 700;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #c7c7c7;
    background-color: #1d1e22;
    border: none;
}

.page-item.active .page-link {
    z-index: 1;
    color: #333333;
    background-color: #fdd765;
    border: none;

}

.listing-filter-form select {
    height: 50px !important;
}

ul.pagination {
    display: inline;
    text-align: center;
}
