.best-formation-section {
    background-color: $black;
    padding: 125px 0px 125px 0px;
}

.best-formation-pic-text {
    border-radius: 4px;
    padding-top: 30px;

    .formation-title {
        h3 {
            font-size: 16px;
            line-height: 25px;
        }

        &:after {
            display: none;
        }
    }

    .best-formation-text {
        background-color: $black;
        border-radius: 4px;
        padding: 20px 25px 30px 25px;
        transition: .3s all ease-in-out;

        h3 {
            color: $white;
        }

        .formation-meta {
            span {
                font-weight: 400;
                color: $white2;
                -webkit-font-smoothing: antialiased;
            }
        }
    }

    .best-formation-pic {
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 220px;
        background-color: #555555;
        overflow: hidden;
        border-radius: 4px;
    }

    .formation-price {
        bottom: 20px;
        z-index: 1;
        top: inherit;
    }

    .formation-rate {
        position: absolute;
        right: 25px;
        bottom: 25px;
        transition: .3s all ease-in-out;

        li {
            font-size: 14px;
        }
    }

    .formation-details-btn {
        top: inherit;
        bottom: 25px;
        right: 5px;
    }

    &:hover .formation-details-btn {
        opacity: 1;
        right: 25px;
        visibility: visible;
        z-index: 1;
    }

    &:hover .formation-rate {
        opacity: 0;
    }

    &:hover .blakish-overlay {
        opacity: 1;
        visibility: visible;
        z-index: 0;
    }

    &:hover .best-formation-text {
        box-shadow: 10px 10px 20px 1px rgba(0, 0, 0, 0.1);
    }
}

.formation-rate li {
    color: #ffc926;
}

.trend-badge-2 {
    top: -18px;
    left: -50px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    padding: 30px 35px 5px;
    transform: rotate(-45deg);
    background-color: #ff5a00;
    z-index: 3;

    span {
        display: block;
    }
}

.couse-pagination {
    li {
        font-size: 18px;
        color: #bababa;
        margin: 0 5px;
    }

    li.active {
        color: $black;
        font-weight: 700;
    }

    .pg-text {
        font-size: 13px;
    }
}

.best-formation-v2 {
    // background-color: #fff;
    padding-bottom: 80px;

    .best-formation-pic-text {
        .best-formation-text {
            // background-color: #f7f7f7;
        }
    }
}

.formation-search-filter {
    display: inline-block;
    width: 100%;
    // padding-bottom: 70px;
}

.formation-button {
    ul.product-tab li.active:after {
        display: none;
    }

    ul.product-tab li:before {
        content: '';
        position: absolute;
        top: -15px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid $base-color-1;
        transform: rotate(-180deg);
        left: 0;
        width: 20px;
        right: 0;
        opacity: 0;
        margin: 0 auto;
    }

    ul.product-tab li.active:before {
        opacity: 1;
    }

    ul.product-tab li.active {
        .category-icon-title:after {
            opacity: 1;
            transform: scale(1);
        }

        .category-icon i {
            color: #fff;
            -webkit-text-fill-color: inherit;
        }

        .category-title h4 {
            color: #fff;
        }
    }

    .category-title h4 {
        text-transform: capitalize;
        font-size: 16px;
    }

    ul.product-tab li {
        margin: 0;

        .category-icon-title {
            width: 180px;
            height: 180px;
            padding: 20px;
            overflow: hidden;
        }
    }
}

.button-tab {
    .owl-stage-outer {
        padding: 20px 0px;
    }

    .owl-prev {
        position: absolute;
        left: 0;
    }
}

.formation-button {
    background-color: #fff;
}

.one-page-category {
    padding-top: 0;

    .category-slide {
        margin-top: 0;

        .owl-nav {
            top: 46%;
            width: 108%;
        }
    }
}
