.formation-page-section {
    padding: 80px 0px 0px;

    .container {
        max-width: 1000px;
    }

    .short-filter-tab {
        border-bottom: 1px solid $base-color-0;
        padding-bottom: 20px;
    }

    .formation-list-view {
        overflow-x: auto;
        padding: 5px;
    }

    .shorting-filter select {
        margin-right: 10px;
        padding: 10px 15px
    }

    table {
        width: 100%;
    }

    td,
    th {
        text-align: left;
        padding: 20px 15px;
    }

    th {
        font-size: 12px;
        font-weight: 700;
        color: $black;
        border-bottom: 3px solid $base-color-1;
    }

    tr {
        border-bottom: 1px solid #eee;
        transition: .3s all ease-in-out;
        padding: 15px;

        &:hover {
            box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.1);
        }
    }

    .list-head {
        padding: 0;

        &:hover {
            box-shadow: none;
        }
    }

    .formation-list-img {
        height: 70px;
        width: 70px;
        float: left;
        margin-right: 20px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: $gray;
    }

    .formation-list-text {
        width: 200px;
        display: inline-block;

        h3 {
            font-size: 16px;
            font-weight: 700;
            color: $white;
        }
    }

    .formation-type-list {
        span {
            background-color: $base-color-2;
            color: #fff;
            padding: 12px 20px;
            border-radius: 4px;
        }
    }

    .formation-meta .formation-rate li {
        color: #bbbbbb;
    }
}

// formation details
.formation-details-section {
    padding: 80px 0px 0px;
}

.formation-single-text {
    .formation-title {
        padding-bottom: 20px;

        b {
            font-weight: 700;
        }

        h3 {
            font-size: 35px;
            font-weight: 300;

        }
    }

    .formation-details-content {
        img {
            margin: 10px;
        }
    }

    p {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 30px;
        color: $white;
    }
}

.formation-details-category {
    span {
        font-weight: 300;
        font-size: 28px;
        float: left;
        margin-right: 15px;

        b {
            font-weight: 700;
        }
    }

    li {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        background-color: #f7f7f7;
        padding: 7px 15px;
        border-radius: 4px;
        margin-top: 5px;
        transition: .3s all ease-in-out;

        &:hover {
            color: $black;
            @extend .gradient-bg;
        }

        &.active {
            background: #e6e6e6;
        }
    }
}

.formation-details-item {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.affiliate-market-guide,
.formation-review {
    .section-title-2 {
        h2 {
            &:after {
                display: none;
            }
        }
    }
}

.affiliate-market-accordion {
    .panel-group .panel {
        max-width: inherit;
        max-width: inherit;
        border: 1px solid #e5e5e5;
        padding: 10px 20px;
        border-top: none;
    }

    .panel-group .panel-body {
        padding: 10px 50px 25px 80px;
        line-height: 1.8;
    }

    .panel-group .btn-link.collapsed,
    .panel-group .panel-title .btn-link,
    .panel-group .panel-body {
        color: #333;
    }

    .panel-group .panel-title h3:before {
        display: none;
    }

    .panel-group .panel-body:before {
        display: none;
    }

    .panel-title {
        .ac-head {
            font-size: 20px;
            font-size: 500;
            position: relative;

            span {
                font-size: 50px;
                font-weight: 500;
                float: left;
                line-height: 1;
                margin-right: 20px;
                transition: .3s all ease-in-out;
            }
        }
    }

    .panel-group .btn-link.collapsed {
        span {
            color: #eeeeee !important;
        }
    }

    .panel-group .panel-title .btn-link {
        span {
            color: $base-color-2;
        }
    }

    .leanth-formation {
        position: absolute;
        right: 60px;
        top: 20px;

        span {
            background-color: #f7f7f7;
            padding: 12px 20px;
            font-size: 12px !important;
            font-weight: 700;
            border-radius: 4px;
            text-transform: uppercase;
            color: #ccc !important;

            &.completed {
                color: white !important;
            }
        }
    }

    .panel-group .btn-link.collapsed:after {
        color: #d9d9d9;
    }
}

.formation-by {
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    bottom: 15px;
    left: 80px;

    b {
        color: $base-color-2;
        font-size: 12px !important;
    }
}

.affiliate-market-accordion .panel-group .panel:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top: 1px solid #e5e5e5;
}

.affiliate-market-accordion .panel-group .panel:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.formation-review {
    border-bottom: 1px solid #eee;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

.avrg-rating {
    .avrg-rate {
        font-size: 50px;
        font-weight: 700;
        display: block;
        color: $base-color-2;
        margin: 10px 0px;
    }

    li {
        color: #ffc926;
    }

    .start-bar {
        width: 100px;
        height: 8px;
        display: inline-block;
        margin: 0px 10px;
        background-color: #eeeeee;
        transition: .3s all ease-in-out;
    }

    .rating-overview {
        margin-top: 5px;

        &:hover .start-bar {
            background-color: $base-color-2;
        }
    }
}

.review-option {
    display: inline-block;
    width: 100%;
}

.rating {
    display: inline-block;
    position: relative;
    font-size: 20px;
    float: right;
    margin-left: 10px;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;

    span {
        margin: 0px 2px;
        color: #eee;
    }
}

.rating label:last-child {
    position: static;
}


.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;

}

.rating label:last-child .icon {
    color: #000;
}

.rating:not(:hover) label input:checked~.icon,
.rating:hover label:hover input~.icon {
    color: #ffc926;
}

.rating label input:focus:not(:checked)~.icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #ffc926;
}

.formation-side-bar-widget {
    h3 {
        font-size: 30px;
        font-weight: 300;
        color: #333;
        margin-bottom: 20px;

        span {
            font-weight: 700;
            color: $black;
        }
    }
}

.like-formation {
    height: 50px;
    width: 50px;
    background-color: #eeeeee;
    color: #cccccc;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    border-radius: 4px;
    margin-left: 5px;
}

.formation-side-bar-widget {
    .genius-btn {
        line-height: 50px;
        padding: 0px 15px;
    }
}

.student-number {
    float: right;
    color: $base-color-2;
    font-size: 14px;
}

.enrolled-student {
    margin-top: 20px;
    display: inline-block;
    width: 100%;

    li {
        color: #ffc926;
    }
}

.couse-feature {
    margin-top: 15px;

    li {
        font-size: 17px;
        font-weight: 500;
        color: #c4c4c4;
        position: relative;
        padding: 5px 0px;
        border: 1px solid #eeeeee;
        border-left: none;
        border-right: none;

        &:after {
            top: 5px;
            left: 110px;
            content: ':';
            position: absolute;
        }
    }

    span {
        position: relative;
        float: right;
        color: $black;
    }
}

.listing-filter-form {
    label {
        font-size: 14px;
        font-weight: 700;
        color: $white;
        display: block;
    }

    input,
    select {
        height: 50px;
        border: none;
        padding: 15px;
        width: 100%;
        background-color: $black;
    }
}
