.popular-formation-section {
    padding-bottom: 125px;

    .section-title {
        .subtitle {
            margin-left: 42px;
        }
    }
}

.formation-meta {
    display: inline-block;
    width: 100%;

    span {
        float: left;
        font-size: 14px;
        margin-right: 24px;
        position: relative;

        &:after {
            top: 2px;
            width: 1px;
            content: '';
            height: 15px;
            right: -14px;
            position: absolute;
            background-color: $gray-2;
        }

        &:last-child:after {
            display: none;
        }
    }

    .formation-category {
        color: $base-color-2;
    }

    .formation-author {
        color: $black;
    }

    .formation-rate {
        li {
            color: #ffc926;
        }
    }
}

.formation-title {
    &:after {
        left: 0;
        content: '';
        height: 3px;
        width: 50px;
        bottom: 25px;
        position: absolute;
    }

    h3 {
        display: inline-block;
        width: 100%;
        color: $black;
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
        transition: .3s all ease-in-out;

        span {
            top: -5px;
            color: $white;
            display: inherit;
            padding: 8px;
            font-size: 12px;
            border-radius: 3px;
            position: relative;
            background-color: #ff5c26;
            line-height: 1;
        }
    }
}

.formation-viewer {
    li {
        color: $gray-2;
        font-size: 14px;
        padding: 5px 15px;
        border-radius: 3px;
        background-color: #f7f7f7;
    }
}

.formation-price {
    top: 20px;
    left: 20px;
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 4px;
    position: absolute;

    span {
        color: $black;
    }
}

.formation-details-btn {
    top: 25px;
    right: 5px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: .3s all ease-in-out;

    a {
        font-size: 12px;
        color: $white;
        font-weight: 700;
    }
}

.formation-item-pic-text {
    .formation-pic {
        overflow: hidden;
        border-radius: 4px;
        height: 320px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 370px;
        background-color: $gray;

        img {
            transition: .3s all ease-in-out;
        }
    }

    &:hover .formation-details-btn {
        right: 20px;
        opacity: 1;
        visibility: visible;
    }
}

.owl-nav {
    right: 0;
    top: -90px;
    position: absolute;

    .owl-prev {
        float: left;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        margin: 0 5px;
        border-radius: 4px;
        background-color: #f7f7f7;
    }

    .owl-next {
        @extend .owl-prev;
    }
}

.popular-three {
    background-color: #f7f7f7;
    padding: 100px 0px 100px;

    .formation-viewer li {
        background-color: #fff;
    }

    .owl-nav .owl-prev,
    .owl-nav .owl-next {
        background-color: #fff;
    }
}

.formation-pic {
    overflow: hidden;
    border-radius: 4px;

    img {
        transition: .3s all ease-in-out;
    }
}

.formation-item-pic-text {
    &:hover {
        img {
            transform: scale(1.05)
        }
    }
}
