.search-formation-section {
    padding: 125px 0px 100px 0px;
}

.search-formation,
.subs-form {
    input {
        width: 100%;
        height: 60px;
        background-color: #f9f9f9;
        border: none;
        padding: 0px 20px;
        border-radius: 5px;
    }

    .nws-button {
        top: 0;
        right: 0;
        height: 60px;
        width: 195px;
        line-height: 60px;
        position: absolute;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        button {
            background-color: transparent;
            border: none;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            color: $black;
        }
    }
}

.counter-icon {
    float: left;
    width: 60px;
    height: 45px;
    line-height: 40px;
    margin-right: 15px;
    text-align: center;
    border-right: 1px solid $gray-2;

    i {
        font-size: 38px;
    }
}

.counter-number {
    display: inline-block;
    overflow: hidden;
}

.counter-number {
    p {
        font-size: 14px;
        font-weight: 700;
        font-color: $gray-2;
    }

    .counter-count {
        font-size: 30px;
        color: $black;
        line-height: .9;
    }

    span {
        @extend .counter-count;
        font-weight: 700;
    }
}

.copy-right-menu-item {
    li {
        color: $gray-2;
        margin-left: 30px;

    }
}

.copy-right-menu {
    padding: 45px 0px;
    border-top: 1px solid #ddd6d6;
}



.app-stor {
    display: inline-block;

    li {
        font-size: 22px;
        color: $white;
        margin-right: 25px;
        position: relative;

        &:after {
            position: absolute;
            content: '';
            height: 20px;
            width: 1px;
            top: 4px;
            right: -14px;
            background-color: #9ad1f6;
        }

        &:last-child:after {
            display: none;
        }
    }
}


#search-formation-2 .search-app {
    margin-top: 50px;
}
