#slide.slider-section {
    max-width: 76%;
}

.slider-text {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);

    .section-title {
        width: 70%;
        margin: auto;

        h2 {
            font-size: 40px;
            color: #fff;
            font-weight: 100;
        }
    }
}

@media screen and (max-width: 991px) {
    #slide.slider-section {
        max-width: 60%;
    }


}

@media screen and (max-width: 768px) {
    #slide.slider-section {
        max-width: 100%;
    }

    .slider-text {

        .section-title {
            width: 100%;
            margin: auto;

            h2 {
                font-size: 25px !important;
                color: #fff;
                font-weight: 100;
            }
        }
    }

}

#slider-item {
    &:hover {
        visibility: visible;
    }

    .genius-btn {
        border: 2px solid #17d0cf;
        margin-top: 30px;

    }

    .owl-dots {
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;

        .owl-dot.active {
            height: 25px;
            width: 3px;
            border-radius: 4px;
            background-color: #fff;
        }

        .owl-dot {
            height: 15px;
            background-color: #585656;
            width: 3px;
        }
    }

    .owl-nav {
        position: absolute;
        top: 50%;
        // transform: translateY(-50%);
        width: 95%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .owl-next {
        float: right;
    }

    .scound-slide {
        font-size: 70px;
    }

    .search-formation,
    .search-tutorial {
        max-width: 700px;
        margin: 0 auto;
    }

    .owl-item {
        height: 100%;
    }

    .owl-item .layer-1-2 {
        transform: translateY(100%);
        opacity: 0;
        transition: all 1s ease-in-out 0.3s;
    }

    .owl-item .layer-1-1 {
        transform: translateY(100%);
        opacity: 0;
        transition: all 1s ease-in-out 1s;
    }

    .owl-item .layer-1-3 {
        transform: translateY(50%);
        opacity: 0;
        transition: all 1s ease-in-out 1.5s;
    }

    .owl-item .layer-1-4 {
        transform: translateY(100%);
        opacity: 0;
        transition: all 1s ease-in-out 2s;
    }

    .owl-item .layer-1-5 {
        transform: translateY(100%);
        opacity: 0;
        transition: all 1s ease-in-out 2.5s;
    }

    .owl-item .layer-1-6 {
        transform: translateY(100%);
        opacity: 0;
        transition: all 1s ease-in-out 3s;
    }

    .owl-item.active .layer-1-2,
    .owl-item.active .layer-1-1,
    .owl-item.active .layer-1-3,
    .owl-item.active .layer-1-4,
    .owl-item.active .layer-1-5,
    .owl-item.active .layer-1-6 {
        transform: translateY(0);
        opacity: 1;
    }

    .owl-item.active .slider-images img {
        transform: scale(1.1);
        transition: 10s;
    }

    .slider-formation-category,
    .slider-tutorial-category {
        max-width: 700px;
        margin: 0 auto;
        margin-top: 25px;

        li {
            color: #fff;
            font-weight: 700;
            margin: 0px 10px;
            position: relative;
            transition: .3s all ease-in-out;

            &:after {
                position: absolute;
                content: '';
                height: 10px;
                width: 2px;
                top: 6px;
                right: -13px;
                background-color: #8e8e8e;
            }

            &:last-child:after {
                display: none;
            }

            &:hover {
                color: $base-color-2;
            }
        }
    }

    .third-slide {
        font-size: 60px
    }

    .secoud-title {
        font-size: 70px;
    }
}

.coming-countdown {
    margin-bottom: 30px;
    text-align: center;
}

.coming-countdown li {
    width: 100px;
    height: auto;
    padding: 15px 5px;
    margin-right: 30px;
    text-align: center;
    display: inline-block;
    color: #fff;
    border: 2px solid $base-color-2;
    border-radius: 8px;
}

.coming-countdown li:last-child {
    margin-right: 0px;
}

.coming-countdown .number {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 5px;
}

.coming-countdown span {
    display: block;
    color: #ffffff;
    position: relative;
    text-transform: uppercase;
}

.coming-countdown span:before {
    left: 0;
    right: 0;
    top: -20px;
    width: 50px;
    height: 3px;
    margin: 0 auto;
    position: absolute;
    background: #ffffff;
    border-radius: 45px;
}

.slider-bg-1,
.slider-bg-2,
.slider-bg-3,
.slider-bg-4,
.slider-bg-5 {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slider-bg-1 {
    background-image: url("/assets/img/banner/s-1.jpg");
}

.slider-bg-2 {
    background-image: url("/assets/img/banner/s-4.jpg");
}

.slider-bg-3 {
    background-image: url("/assets/img/banner/s-3.jpg");
}

.slider-bg-4 {
    background-image: url("/assets/img/banner/s-4.jpg");
}

.slider-bg-5 {
    background-image: url("/assets/img/banner/sd-1.jpg");

    .slider-text {
        max-width: 1170px;
        margin: 0 auto;
        margin-top: 50px;
    }
}

.bg-image {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.bg-image:after {
    opacity: 0;
    content: attr(data-content);
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.bg-image.overlay:after {
    content: attr(data-content);
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}


#formation-btn,
#tutorial-btn {
    .genius-btn {
        margin: 0 auto;
    }
}
