.color-switcher {
    position: fixed;
    margin-top: 255px;
    width: 145px;
    height: 195px;
    margin-left: -145px;
    transition: all ease 0.3s;
    z-index: 99;
    background: #fff;
    text-align: center;
    border: solid 1px #dfdfdf;
}

.open i {
    font-size: 25px;
}

.switcher-reset {
    margin-top: 2px;
    font-size: 12px;
    color: #8C8C8C !important;
    background: 0;
    border: 1px solid #dfdfdf !important;
    padding: 3px 37px;
}


.switcher-dark,
.switcher-light {
    margin-top: 2px;
    font-size: 12px;
    color: #8C8C8C !important;
    background: 0;
    border: 1px solid #dfdfdf;
    padding: 3px 10px;
}

.switcher-reset:hover {
    color: #000 !important;
}

.switcher-dark :focus,
.switcher-light:focus {
    color: #000 !important;
    border: 1px solid #7d7d7d !important;

}

.color-switcher .open {
    background: #fff;
    padding: 13px 0;
    margin-top: -1px;
    width: 50px;
    margin-right: -50px;
    float: right;
    border: solid 1px #dfdfdf;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

.color-switcher h4 {
    font-size: 13px;
    font-weight: 600;
    padding: 17px 13px;
    border-bottom: 1px solid #dfdfdf;
    color: #656565;
    height: 48px;
}

.color-switcher ul {
    padding: 6px 15px;
    display: inline-block;
    margin-bottom: 0;
}

.color-switcher ul li {
    float: left;
    list-style: none;
}

.color-switcher ul li a {
    font-size: 20px;
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.color-switcher ul li a:focus {
    text-decoration: none;
    outline: none;
}


.open-switcher {
    margin-left: 0px;
    transition: all ease 0.3s;
}

.color-switcher ul li {
    position: relative;
}

.color-1 {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0
}

.color-2 {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #00c9fd 0%, #81ee8e 100%) repeat scroll 0 0;
    border-radius: 100%;
}

.color-3 {
    background: #7b4397;
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
    background: linear-gradient(to right, #dc2430, #7b4397);
    border-radius: 100%;

}

.color-4 {
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 100%;

}

.color-5 {
    background: #FBD3E9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BB377D, #FBD3E9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BB377D, #FBD3E9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 100%;

}

.color-6 {
    background: #c21500;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc500, #c21500);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 100%;

}

.color-7 {
    background: #24C6DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 100%;

}

.color-8 {
    background: #e65c00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9D423, #e65c00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9D423, #e65c00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 100%;

}

.color-9 {
    background: #acb6e5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #86fde8, #acb6e5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 100%;
}


.color-2 i,
.color-3 i,
.color-4 i,
.color-5 i,
.color-6 i,
.color-7 i,
.color-8 i,
.color-9 i {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body.box-layout {
    max-width: 1220px;
    margin: 0 auto;
    overflow-x: hidden;
    -webkit-box-shadow: -2px 3px 23px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 3px 23px -5px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 3px 23px -5px rgba(0, 0, 0, 0.75);
}

body.box-layout .main-menu-container {
    max-width: 1220px;
}

@media screen and (max-width: 768px) {
    body.box-layout .main-menu-container {
        width: 100%;
    }
}

a.rtl-v {
    border: 1px solid #eee;
    display: block;
    width: 35px;
    font-size: 14px;
    margin: 0 auto;
    margin-top: 10px;
}
