.formation-teacher-section,
.tutorial-teacher-section {
    .jarallax {
        background-image: url("/assets/img/banner/teacher-b.jpg");
        padding: 125px 0px 125px 0px;
    }

    .section-title {
        margin-bottom: 70px;

        h2 {
            color: $white;
        }

        span {
            color: $white;
        }
    }

    .genius-btn {
        margin: 0 auto;
    }
}

.teacher-img-content {
    background-color: #0a4a78;
    display: inline-block;
    padding: 20px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 50px;

    .teacher-social-name {
        float: left;
        max-width: 200px;

        ul {
            margin-bottom: 10px !important;
        }

        li {
            height: 35px;
            width: 35px;
            border-radius: 100%;
            text-align: center;
            color: #adb8bf;
            line-height: 35px;
            margin-bottom: 5px;
            transition: .3s all ease-in-out;
            background-color: #608297;

            &:hover {
                background-color: #fff;
                color: #176299;
            }
        }

        .teacher-name {
            span {
                font-weight: 700;
                color: #fff;
                font-size: 18px;
            }
        }
    }

    .teacher-img {
        height: 150px;
        width: 150px;
        display: inline-block;
        position: relative;
        right: -35px;
        top: -35px;

        img {
            border-radius: 4px;
        }

        &:after {
            content: '';
            height: 2px;
            width: 50px;
            left: -25px;
            bottom: 30px;
            position: absolute;
            background-color: $base-color-2;
        }

        .formation-price,
        .tutorial-price {
            font-weight: 400;
            top: auto;
            bottom: 20px;
            font-size: 12px;
            left: 45px;
            opacity: 0;
            transition: .3s all ease-in-out;
            visibility: hidden;
        }
    }

    .teacher-category {
        position: relative;
        top: -5px;

        .st-name {
            font-size: 13px;
            color: $white;
        }
    }

    &:hover .formation-price,
    &:hover .tutorial-price {
        opacity: 1;
        left: 35px;
        visibility: visible;
    }
}

.secound-teacher-section {
    background-color: #f7f7f7;
    padding: 105px 0px;

    .teacher-img-text {
        background-color: #fff;
        padding: 20px 30px 30px 30px;
        border-radius: 4px;

        .teacher-social-list {
            position: absolute;
            top: 40%;
            left: 0;
            transition: .3s all ease-in-out;
            right: 0;
            text-align: center;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-50%);

            li {
                height: 30px;
                width: 30px;
                text-align: center;
                border: 2px solid $base-color-2;
                line-height: 30px;
                color: #fff;
                margin: 0 2px;
                border-radius: 100%;
            }
        }

        .teacher-name {
            display: block;
            font-size: 18px;
            font-weight: 700;
            color: $black;
        }

        .teacher-designation {
            font-size: 13px;
            color: $base-color-2;
        }

        .teacher-img-social {
            .blakish-overlay {
                border-radius: 100%;
                height: 190px;
                width: 190px;
                margin: 0 auto;
                left: -13px;
                top: 5px;
                right: 0;
            }
        }

        &:hover .blakish-overlay {
            opacity: 1;
            visibility: visible;
        }

        &:hover .teacher-social-list {
            top: 50%;
            opacity: 1;
            visibility: visible;
        }
    }

}

.teacher-img-social {
    z-index: 1;

    img {
        border: 5px solid #fff;
        border-radius: 100%;
    }

    &:after {
        content: '';
        position: absolute;
        width: 210px;
        height: 210px;
        background: #17d0cf;
        background: -moz-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, #4eb3bf), color-stop(51%, #17d0cf), color-stop(100%, #4eb3bf));
        background: -webkit-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #0071b0 100%);
        background: -o-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
        background: -ms-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
        background: -webkit-gradient(linear, left top, right top, from(#01a6fd), color-stop(51%, #17d0cf), to(#01a6fd));
        background: -webkit-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
        background: linear-gradient(to right, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
        background-size: 200% auto;
        top: -5px;
        left: -5px;
        border-radius: 100%;
        z-index: -1;
        right: 0;
    }
}

.secound-teacher-section {

    .owl-prev,
    .owl-next {
        background-color: #fff;
    }
}

.secound-teacher-section {
    .genius-btn {
        margin: 0 auto;
        margin-top: 65px;
    }
}

.genius-teacher-section-2 {
    padding-bottom: 80px;

    .teacher-img-content {
        background-color: inherit;
        padding: 0;
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 25px;
        height: 210px;

        .teacher-cntent {
            position: absolute;
            top: 15px;
            left: 30px;
            z-index: 1;
            transition: .3s all ease-in-out;
            opacity: 0;
        }

        .teacher-social-name ul {
            margin-bottom: 20px !important;
        }

        .teacher-category {
            bottom: 50px;
            top: inherit;
            right: 20px;
            display: none;
            z-index: 11;
        }

        &:after {
            position: absolute;
            content: '';
            background: #17d0cf;
            background: -moz-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, #4eb3bf), color-stop(51%, #17d0cf), color-stop(100%, #4eb3bf));
            background: -webkit-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #0071b0 100%);
            background: -o-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
            background: -ms-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
            background: -webkit-gradient(linear, left top, right top, from(#01a6fd), color-stop(51%, #17d0cf), to(#01a6fd));
            background: -webkit-linear-gradient(left, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
            background: linear-gradient(to right, #01a6fd 0%, #17d0cf 51%, #01a6fd 100%);
            background-size: 200% auto;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            z-index: 0;
            transition: .3s all ease-in-out;
            opacity: 0;
        }

        &:hover:after {
            opacity: .8;
        }

        &:hover {
            .teacher-category {
                display: block;
            }

            .teacher-cntent {
                opacity: 1;
            }
        }
    }

    .teacher-social-name li {
        background-color: #fff;
    }
}

.teacher-page-section {
    padding: 80px 0px;

    .couse-pagination {
        margin-top: 60px;
    }
}

.teacher-pic-content {
    margin-bottom: 30px;

    .teacher-hover-item {
        display: inline-block;
        position: absolute;
        top: 35px;
        left: 15px;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: .3s all ease-in-out;

        .teacher-text {
            color: #fff;
        }
    }

    .teacher-social-name {
        width: 100%;
        max-width: inherit;
        margin-bottom: 5px;

        li {
            background-color: #fff;
            color: $base-color-2;
        }
    }

    .teacher-next {
        height: 45px;
        width: 45px;
        background-color: #fff;
        position: absolute;
        right: -40px;
        bottom: 0;
        line-height: 52px;
        border-top-left-radius: 10px;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: .3s all ease-in-out;
        transition-delay: .3s;

        a {
            display: block;
            width: 100%;
        }

        i {
            font-size: 20px;
        }
    }

    .teacher-img-content {
        background-color: inherit;
        padding: 0;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 0;
        height: 270px;
        width: 270px;

        &:after {
            @extend .gradient-bg;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: .3s all ease-in-out;
            z-index: 0;
        }

        img {
            height: 100%;
            width: 100%;
        }
    }

    .teacher-name-designation {
        margin-top: 10px;

        .teacher-name {
            display: block;
            font-size: 18px;
            font-weight: 700;
            color: #333333;
        }

        .teacher-designation {
            font-size: 13px;
            color: #17d0cf;
        }
    }

    &:hover .teacher-img-content::after {
        opacity: .8;
    }

    &:hover .teacher-hover-item {
        opacity: 1;
        visibility: visible;
        left: 25px;
    }

    &:hover .teacher-next {
        opacity: 1;
        right: 0;
        visibility: visible;
    }
}

.first-widget {
    margin-top: 0 !important;
}

.teacher-details-area {
    padding: 80px 0px;
}

.formation-img,
.tutorial-img {
    margin-bottom: 15px;
}

.formation-desc,
.tutorial-desc {
    color: $black;
}

.teacher-details-text {
    .section-title-2 {
        margin-bottom: 50px;

        h2 {
            font-size: 30px;

            &:after {
                bottom: -45px;
            }
        }
    }

    .teacher-deg {
        font-weight: 700;
        font-size: 15px;
        margin-top: 5px;

        span {
            color: $base-color-2;
        }
    }
}

.teacher-desc-social {
    margin-bottom: 28px;

    li {
        height: 80px;
        width: 80px;
        text-align: center;
        background-color: #f7f7f7;
        color: #444444;
        border-radius: 4px;
        font-size: 13px;
        margin-right: 5px;
        padding-top: 15px;
        transition: .3s all ease-in-out;

        i {
            color: #bababa;
            font-size: 30px;
            margin-bottom: 5px;
            transition: .3s all ease-in-out;
        }

        &:hover {
            background-color: $base-color-2;
            color: #fff;

            i {
                color: #fff;
            }
        }
    }
}

.teacher-address {
    .address-details {
        li {
            color: #000;
            font-size: 18px;
            margin-bottom: 10px;
            display: inline-block;

            b {
                font-weight: 900;
            }

            .addrs-icon {
                height: 50px;
                width: 50px;
                text-align: center;
                line-height: 50px;
                font-size: 20px;
                border-radius: 5px;
                color: $white;
                margin-right: 15px;
                float: left;
                background-color: $base-color-1;
            }

            .add-info {
                overflow: hidden;
                margin-top: 10px;
            }
        }
    }
}

.about-teacher {
    .section-title-2 {
        margin-bottom: 35px;

        h2 {
            &:after {
                display: none;
            }
        }
    }

    p {
        font-weight: 300;
        font-size: 20px;
        color: $black;
    }
}

.category-slide {
    .category-icon-title {
        padding: 35px 10px;
        border-radius: 0;
        position: relative;
        margin-bottom: 0;

        &:after {
            border-radius: 0;
        }
    }

    .owl-nav {
        top: 35%;
        width: 110%;
        -webkit-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
        transform: translateY(-40%);
        left: -40px;
        z-index: -1;
    }

    .owl-nav .owl-prev,
    .owl-nav .owl-next {
        background-color: transparent;
    }

    .owl-nav .owl-prev {
        float: left;
    }

    .owl-nav .owl-next {
        float: right;
    }

    .owl-item.active {
        &:before {
            content: '';
            position: absolute;
            height: 195px;
            width: 1px;
            background-color: #eee;
            top: 0;
            right: 0;
            z-index: 1;
        }

        &:last-child:before {
            display: none;
        }
    }

    .owl-stage-outer {
        padding: 5px;
    }
}

.about-faq.faq-secound-home-version {
    background-image: inherit;
    padding-top: 0;

    .panel-group .panel {
        max-width: inherit;
    }

    .panel-group .btn-link.collapsed {
        color: $black;
        font-weight: 400;
        padding: 10px 0px;
    }

    .panel-group .panel-title h3:before {
        background-color: #cfcdcd;
        top: 15px;
    }

    .panel-group .panel-body {
        color: inherit;
    }

    .panel-group .collapse.show .panel-body:before {
        height: 185%;
        top: -49px;
    }

    .panel-group .btn-link.collapsed:after {
        color: #cfcdcd;
    }

    ul.product-tab li {
        background-color: #f7f7f7;
        font-size: 15px;
        font-weight: 400;
        color: #c4c4c4;
    }

    .ques-ans h3 {
        color: #0f0f0f;
    }

    .tab-container {
        margin-left: 15px;
    }
}

.teacher-contact {
    padding-top: 25px;
}

.teacher-faq-form {
    label {
        display: block;
        text-transform: uppercase;
        color: $black;
        font-weight: 700;
        font-size: 14px;
    }

    input,
    textarea {
        width: 100%;
        height: 60px;
        border-radius: 4px;
        background-color: #f7f7f7;
        border: none;
        margin-bottom: 30px;
        padding: 15px;
    }

    textarea {
        height: 160px;
    }

    .nws-button {
        height: 60px;
        width: 195px;
        line-height: 60px;
        border-radius: 5px;

        button {
            border: none;
            text-transform: uppercase;
            color: #fff;
            font-weight: 700;
            background-color: transparent;
        }
    }
}

.one-page-teacher {
    padding: 100px 0px;
    background-image: url("/assets/img/banner/tesit-b-1.jpg");

    .section-title {

        span,
        h2 {
            color: #fff;
        }
    }
}
