// Font-Family
$heading: 'Roboto',
sans-serif;
$body-font: 'Roboto',
sans-serif;


// color code
// $base-color-1: #01a6fd;
// $base-color-2: #17d0cf;
// $black: #333333;
// $gray: #777777;
// $gray-2: #989898;
// $lite-blue: #88c3ef;
// $white: #fff;

$base-color-0: #564319;
$base-color-1: #febe6a;
$base-color-2: #fdd765;
$dark-input: #202227;
$black: #1d1e22;
$black-1: #272931;
$gray: #393f4d;
$gray-2: #4b5262;
$lite-blue: #efd788;
$white: #d4d4dc;
$white2: #b3b3b8;
$red-alert: #ff5a5a;

// $yellow: #feda6a;
// $silver: #d4d4dc;
// $matte_grey: #393f4d;
// $dark_slate: #1d1e22;
// Borders
$laravel-border-color: darken($gray, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "/assets/fonts/bootstrap/" !default;
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
// $font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

// Path
// $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/" !default;
.bg-base-0 {
    background-color: $base-color-0 !important;
}

.bg-base-1 {
    background-color: $base-color-1 !important;
}

.bg-base-2 {
    background-color: $base-color-2 !important;
}

.bg-black-0 {
    background-color: $black !important;
}

.bg-black-1 {
    background-color: $black-1 !important;
}

.bg-gray-1 {
    background-color: $gray !important;
}

.bg-gray-2 {
    background-color: $gray-2 !important;
}

.bg-white-1 {
    background-color: $white !important;
}

.bg-white-2 {
    background-color: $white2 !important;
}

.color-base-0 {
    color: $base-color-0 !important;
}

.color-base-1 {
    color: $base-color-1 !important;
}

.color-base-2 {
    color: $base-color-2 !important;
}

.color-black-0 {
    color: $black !important;
}

.color-black-1 {
    color: $black-1 !important;
}

.color-gray-1 {
    color: $gray !important;
}

.color-gray-2 {
    color: $gray-2 !important;
}

.color-white-1 {
    color: $white !important;
}

.color-white-2 {
    color: $white2 !important;
}

//Border
.border.border-base-0 {
    border-color: $base-color-0 !important;
}

.border.border-base-1 {
    border-color: $base-color-1 !important;
}

.border.border-base-2 {
    border-color: $base-color-2 !important;
}

.border.border-black-0 {
    border-color: $black !important;
}

.border.border-black-1 {
    border-color: $black-1 !important;
}

.border.border-gray-1 {
    border-color: $gray !important;
}

.border.border-gray-2 {
    border-color: $gray-2 !important;
}

.border.border-white-1 {
    border-color: $white !important;
}

.border.border-white-2 {
    border-color: $white2 !important;
}

// $dark-input: #202227;

// $lite-blue: #efd788;

// $red-alert: #ff5a5a;
