//// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
//

@import "style";

// Global
@import 'global';

// Pages
@import 'pages/dashboard';

// Bootstrap Overrides
@import 'custom';

/*FontAwesome*/
/*----------------------------------------------------*/
@import './plugins/fontawesome-all';
/*---------------------------------------------------- */

/*Media Queries*/
/*----------------------------------------------------*/
@import './partials/responsive';
/*---------------------------------------------------- */

/*Switch*/
/*----------------------------------------------------*/
@import './partials/switch';
/*---------------------------------------------------- */

#search-formation .search-group input {
    width: 60%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#search-formation .search-group select {
    width: 20%;
    height: 60px !important;
    background-color: #f9f9f9;
    border: none;
    border-radius: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 15px;
    color: inherit;
    background-position: 90% 50%;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="utf-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="12"  version="1"><path  d="M4 8L0 4h8z"/></svg>');
    padding: .5em;
    padding-right: 1.5em
}

#search-formation .search-group select:focus {
    background-color: #f9f9f9;

}

#search-formation .nws-button {
    width: 20%;
}

@media screen and (max-width: 768px) {
    #search-formation .search-group select {
        width: 35%;
        font-size: 12px;
        height: 40px !important;
    }

    #search-formation .search-group input {
        width: 65%;
    }

    #search-formation .nws-button {
        width: 50%;
        margin: auto;
    }

    #search-formation .nws-button button {
        height: 100%;
    }

}
